<div class="container">
  <table class="table table-hover">

    <tr>
      <th class="text-center">Табельный номер</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Должность</th>
      <th class="text-center">Идентификационный код<br></th>
      <th>Принят</th>
      <th>Уволен</th>
      <th colspan="2" class="text-center">Действия</th>
    </tr>

    <% @employees.each do |employee| %>

        <tr>
          <td class="text-center"><%= employee.table_number %></td>
          <td><%= employee.surname.mb_chars.capitalize %></td>
          <td><%= employee.name.mb_chars.capitalize %></td>
          <td><%= employee.patronymic.mb_chars.capitalize %></td>
          <td><%= employee.position.mb_chars.capitalize %></td>
          <td class="text-center"><%= employee.code %></td>
          <td class="text-center"><%= employee.date_of_acception.to_date.strftime("%d.%m.%Y") %></td>
          <td class="text-center"><%= employee.fired_date.to_date.strftime("%d.%m.%Y") if employee.fired? %></td>
          <td class="text-center"><%= link_to 'Просмотреть', employee, class: 'btn btn-default btn-xs btn-block' %></td>
          <td class="text-center"><%= link_to 'Редактировать', edit_employee_path(employee), class: 'btn btn-warning btn-xs btn-block' %></td>
        </tr>
    <% end %>

  </table>
</div>
