<% if @employees.present?  %>

    <div class="container">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <%= form_tag employees_path, :method => 'get', :id => 'employees_search', autocomplete: 'off' do %>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </span>
                  <p>
                    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Поиск работников' %>
                  </p>
            <% end %>
                </div>
              </div>
        </div>
      </div>
    </div>
  <div class="container">
  <h3 class="text-center">Список работников </h3>
    <div class="text-right"><%= link_to 'Создать нового работника', new_employee_path, class: 'btn btn-primary btn-xs btn-block' %></div>
  </div>

  <div id="employees">
    <%= render 'employees/index_table' %>
  </div>

<% else %>
  <h4 class="text-center">Работники отсутствуют в базе данных, <%= link_to 'начните добавлять их прямо сейчас', new_employee_path %> </h4>
<% end %>

</div>