<p id="notice"><%= notice %></p>

<div class="container">
  <div class="well well-sm">
    <h3 class="text-center"><%= @employee.surname.mb_chars.capitalize %> <%= @employee.name.mb_chars.capitalize %> <%= @employee.patronymic.mb_chars.capitalize %></h3>
    <p class="text-center"> Принят: <strong><%= @employee.created_at.strftime("%d.%m.%Y") %> </strong><p>
    <% if @employee.fired? %>
      <p class="text-center"> Уволен: <strong><%= @employee.fired_date.strftime("%d.%m.%Y") %></strong></p>
    <% end %>
  </div>


  <div class="well well-sm">

    <div class="row">
      <div class="col-md-6">
        <p>
        <strong>Идентификационный код:</strong>
          <%= @employee.code %>
        </p>

        <p>
          <strong>Адресс:</strong>
          <%= @employee.address %>
        </p>

        <p>
          <strong>Дата рождения:</strong>
          <%= @employee.birthday.strftime("%d.%m.%Y") %>
        </p>

      </div>
      <div class="col-md-6">
        <p>
          <strong>Телефон:</strong>
          <%= @employee.phone.to_s.phony_formatted(normalize: :UA, format: :international, spaces: '-') %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @employee.email %>
        </p>

        <p>
          <strong>Заметка:</strong>
          <%= @employee.note %>
        </p>

      </div>
    </div>
      <% unless @employee.fired? %>
        <%= link_to 'Уволить', '#collapse1', class: 'btn btn-sm btn-danger btn-block', data: {toggle: :collapse} %>

        <div id="collapse1" class="panel-collapse collapse">
          <%= render 'form_for_fireing' %>
        </div>

        <%= link_to 'Редактировать', edit_employee_path(@employee), class: 'btn btn-sm btn-warning btn-block' %>
      <% end %>

      <%= link_to 'Назад', employees_path, class: 'btn btn-sm btn-primary btn-block' %>
  </div>
</div>
