<div class="container">
  <h3 class="text-center">Редактирование табеля</h3>
  <div  class="well well-sm text-center">
    <h4><%= @employee.surname %> <%= @employee.name %> <%= @employee.patronymic %></h4>
    <h5><%= @employee.position %></h5>
    <p><strong><%= @table.date_of_table.strftime("%B %Y") %></strong></p>
  </div>

  <%= render 'form' %>

  <div class="text-center ">
    <%= link_to employee_table_path, class: 'btn btn-default btn-sm' do %>
      <span class="glyphicon glyphicon-arrow-left"> Назад</span>
    <% end %>
  </div>
</div>
