<div class="container">
  <div class="well well-sm">
    <h3 class="text-center"><%= @employee.surname %> <%= @employee.name %> <%= @employee.patronymic %></h3>
    <p class="text-center"><%= @employee.position %></p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= link_to '#', class: 'btn btn-sm btn-default' do %>
        <span class="glyphicon glyphicon-arrow-left"> Предыдущий работник</span>
      <% end %>
    </div>
    <div class="col-md-4">
      <p class="text-center"><strong><%= @table.date_of_table.strftime("%B %Y") %></strong></p>
    </div>
    <div class="col-md-4 text-right">
      <%= link_to '#', class: 'btn btn-sm btn-default' do %>
        <span>Следующий работник</span> &nbsp;
        <span class="glyphicon glyphicon-arrow-right"></span>
      <% end %>
    </div>
  </div>
  <br>
  <% unless @employee.fired? %>
    <%= link_to edit_employee_table_path, class: 'btn btn-xs btn-block btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"> Редактировать табель</span>
    <% end %>
  <% else %>
    <%= link_to '#', class: 'btn btn-xs btn-block btn-primary disabled' do %>
      <span class="glyphicon glyphicon-pencil"> Редактировать табель</span>
    <% end %>
  <% end %>
  <table class="table table-hover table-bordered">
    <tr>
      <th>Отработано дней</th>
      <th>Дни на больничном</th>
      <th>Дни отпуска</th>
      <th>Дни за свой счет</th>
    </tr>
    <tr>
      <td><%= @table.days_worked %></td>
      <td></td>
      <td></td>
      <td><%= @table.unpaid_vacation_days %></td>
    </tr>

  </table>

  <%= link_to employee_path(@employee), class: 'btn btn-sm btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"> Назад</span>
  <% end %>
</div>
